<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MineSweeper Game</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="{{ url_for('static', filename='timer.js') }}"></script>
</head>
<body>
    <h1>MineSweeper Game</h1>

    <div id="MyClockDisplay" class="clock"></div>
    <button onclick="showTime()">Timer</button>


<!--    {% macro board(data, playing) %}-->
    <table>
        {% for i in range(data.shape[0]) %}
            <tr>
                {% for j in range(data.shape[1]) %}
                    <td>
                        <div style="height: 55px; width: 55px">
                            {% if data[i,j].visible %}
                                {% if data[i,j].value == -1 %}
                                    <img src="static/assets/mine.png">
                                {% elif data[i,j].value != 0 %}
                                    <div class="digit">
                                        {{data[i,j]}}
                                    </div>
                                {% endif %}
                            {% elif playing %}
                                <form action="/" class="field-button" cell-form="" method="post" onClick="this.submit();">
                                    {% if data[i,j].flag %}
                                        <input type="image" src="static/assets/flag.png">
                                    {% endif %}
<!--                                    {% if not first %}-->
<!--                                        <input type="hidden" name="first" value="True">-->
<!--                                    {% endif %}-->
                                    <input type="hidden" name="row" value="{{ i }}">
                                    <input type="hidden" name="col" value="{{ j }}">
                                </form>
                            {% endif %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
<!--    {% endmacro %}-->

<!--    {{board(data, playing)}}-->

    <script>
        const cellForms = document.querySelectorAll("[cell-form]")

        for (let i = 0; i < cellForms.length; i++) {
            cellForms[i].addEventListener("contextmenu", function (event) {
                event.preventDefault(); // prevent default right-click behavior
                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "flag";
                input.value = "1";
                this.appendChild(input); // put it into the DOM
                this.submit();
            })

        }
    </script>
</body>
</html>